@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Mvc Online Ticari Otomasyon Cari Bilgi Paneli</h2>
<br />
@using (Html.BeginForm("Guncelle", "CariPanel", FormMethod.Post))
{
    <table class="table table-hover">
    
        <tr>
            <td><label> Mail Adresi: @HttpContext.Current.User.Identity.Name</label></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.CariAd)
                @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.CariSoyad)
                @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.CariSehir)
                @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Sifre)
                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
            </td>
        </tr>
     
    </table>
    <button class="btn btn-warning">Bilgilerimi Guncelle</button>
}