<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Fatura Islemleri", "Dinamik", "Fatura", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Faturalar", "Index", "Fatura", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Admin", "Index", "Kategori", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Yardim", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
