@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: <b>@ViewBag.deger</b> </li>
</ol>

<table class="table table-info">
    <tr>
        <th>Urun</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Fiyat ₺</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar ₺</td>
            <td>@item.Tarih.ToShortDateString()</td>
            <td><a href="#" class="btn btn"style="background-color:bisque">Yazdir</a></td>
        </tr>
    }

</table>