@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem> 
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />

<div style="background-color:aliceblue">

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Aciklama</th>
            <th>Miktar</th>
            <th>Birim Fiyat</th>
            <th>Tutar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.FaturaID</th>
                <th>@item.Aciklama</th>
                <th>@item.Miktar</th>
                <th>@item.BirimFiyat</th>
                <th>@item.Tutar</th>
            </tr>
        }
    </table>
</div>
<br />
<a href="/Fatura/YeniKalem" class="btn btn-info">Yeni Kalem Girisi</a>