@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>

        <td>Seri-Sira No</td>
       
        <td>Tarih</td>
        <td>Saat</td>
     
        <td>Toplam</td>
        <td>Guncelle</td>
        <td>Detaylar</td>
        <td>Popup Detay</td>
        <td>Yeni Kalem</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaSeriNo @item.FaturaSiraNo</td>
   
            <td>@item.Tarih.ToString("dd MMMM yyyy")</td>
            <td>@item.Saat</td>
    
            <td>@item.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@item.FaturaID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-secondary">Fatura Detayi</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-primary">Popup Liste</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.FaturaID" class="btn btn-outline-info">Yeni Kalem</a></td>
        </tr>
    }
</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-primary">Yeni Fatura Girisi</a>

