@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered" id="dataTable">
    <thead>
        <tr>

            <td>ID</td>
            <td>Urun</td>
            <td>Cari</td>
            <td>Personel</td>
            <td>Adet</td>
            <td>Fiyat</td>
            <td>Toplam</td>
            <td>Satis Tarih</td>
            <td>Guncelle</td>
            <td>Detaylar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SatisID</td>
                <td>@item.Urun.UrunAd</td>
                <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
                <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad </td>
                <td>@item.Adet</td>
                <td>@item.Fiyat</td>
                <td>@item.ToplamTutar</td>
                <td>@item.Tarih.ToShortDateString()</td>
                <td><a href="/Satis/SatisGetir/@item.SatisID" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Satis/SatisDetay/@item.SatisID" class="btn btn-secondary">Detay</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Satis/YeniSatis/" class="btn btn-primary">Yeni Satis Yap</a>


<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>




<script>
    $('#dataTable').dataTable({
        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }
    });

</script>
