@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<table class="table table-bordered">
    <tr>

        <td>ID</td>
        <td>Urun</td>
        <td>Cari</td>
        <td>Personel</td>
        <td>Adet</td>
        <td>Fiyat</td>
        <td>Toplam</td>
        <td>Satis Tarih</td>
        <td>Guncelle</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisID</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad </td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih.ToShortDateString()</td>
            <td><a href="/Satis/SatisGetir/@item.SatisID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelID" class="btn btn-secondary">Detay</a></td>
        </tr>
    }
</table>
<a href="/Satis/YeniSatis/" class="btn btn-primary">Yeni Satis Yap</a>
