@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Detay</h2>
<br />

<table class="table table-info">
    <tr>
        <th>Satis ID</th>
        <th>Urun</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisID</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih.ToShortDateString()</td>
            
        </tr>
    }

</table>
<a href="#" class="btn btn" style="background-color:bisque">Yazdir</a>