@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket

@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satis Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SatisID)
    @Html.HiddenFor(x => x.Fiyat)
    @Html.HiddenFor(x => x.ToplamTutar)



    <b> @Html.Label("Ürün Ad")</b>
    @Html.DropDownListFor(x => x.UrunID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Cari")</b>
    @Html.DropDownListFor(x => x.CariID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Personel")</b>
    @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Adet")</b>
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control", @required = "required" })
    <br />
    

    <button class="btn btn-success">Satisi Güncelle</button>
}
