@*@using PagedList;
@using PagedList.Mvc;*@
@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Urun Adi: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.UrunAd</th>
            <th>@item.Marka</th>
            <th>@item.Stok</th>
            <th>@item.AlisFiyat ₺</th>
            <th>@item.SatisFiyat ₺</th>
            <th>@item.Kategori.KategoriAd</th>
            <th><a href="/Urun/UrunGetir/@item.UrunID" class="btn btn-warning">Güncelle</a></th>
            <th><a href="/Urun/UrunSil/@item.UrunID" class="btn btn-danger">Sil</a></th>
        </tr>
    }

</table>


<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün Ekle</a>