@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "SatisYap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satis Yap</h2>
<br />
<form class="form-group" method="post">

    <b> @Html.LabelFor(x => x.UrunID)</b>
    <input type="text" name="UrunID" value="@ViewBag.dgr1" class="form-control" readonly />
    <br />
    <b> @Html.LabelFor(x => x.PersonelID)</b>
    @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    <b> @Html.LabelFor(x => x.CariID)</b>
    @Html.TextBoxFor(x => x.CariID, new { @class = "form-control" })
    <br />
    <b> @Html.LabelFor(x => x.Adet)</b>
    <input type="text" min="0" class="form-control" id="text1" onkeyup="sum();" name="Adet" />
    <br />
    <b> @Html.LabelFor(x => x.Fiyat)</b>
    <input type="text"  value="@ViewBag.dg2" class="form-control" id="text2" onkeyup="sum();"  name="Fiyat"/>
    <br />
    <b> @Html.LabelFor(x => x.ToplamTutar)</b>
    <input type="text" id="text3" placeholder="Toplam" class="form-control" name="ToplamTutar"  readonly/>
    <br />
    


    <button class="btn btn-primary">Satis Yap</button>
</form>



@*<input type="text" id="text1" onkeyup="sum();" placeholder="1.sayiyi giriniz" />
<input type="text" id="text2" onkeyup="sum();" placeholder="2.sayiyi giriniz" />
<input type="text" id="text3" placeholder="Toplam" />*@

<script>
    function sum() {
        var sayi1 = document.getElementById("text1").value;
        var sayi2 = document.getElementById("text2").value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById("text3").value = sonuc;
        }
    }
</script>