@model MvcOnlineTicariOtomasyon.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Ürün Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.UrunID)

    <b> @Html.Label("Ürün Ad")</b>
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Marka")</b>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Stok")</b>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Alış Fiyat")</b>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Satış Fiyat")</b>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Durum")</b>
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <b> @Html.Label("Ürün Görsel")</b>
    <input type="file" name="UrunGorsel" />
    @*@Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })*@
    <br />
    <b> @Html.Label("Kategori Ad")</b>
    @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Ürünü Güncelle</button>
}